{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{# @var \Sylius\Component\Core\Model\ProductInterface product #}
{% if not product.variants.empty() %}
    {# @var \Sylius\Component\Core\Model\ProductVariant variant #}
    {% set variant = product|sylius_resolve_variant %}

    {# @var \Tests\Setono\SyliusCatalogPromotionPlugin\Application\Entity\ChannelPricing price #}
    {% set price = variant.channelPricingForChannel(sylius.channel) %}

    {% if price.hasDiscount %}
        <span class="ui huge header">
            <strike class="sylius-product-price original-price" id="original-price">
                {{ money.convertAndFormat(price.originalPrice) }}
            </strike>
            <span class="sylius-product-price new-price" id="product-price" {{ sylius_test_html_attribute('product-price', money.convertAndFormat(price.price)) }}>
                {{ money.convertAndFormat(price.price) }}
            </span>
        </span>
    {% else %}
        <span class="ui huge header" id="product-price" {{ sylius_test_html_attribute('product-price', money.convertAndFormat(price.price)) }}>
            {{ money.convertAndFormat(price.price) }}
        </span>
    {% endif %}
{% endif %}
