{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{# @var \Sylius\Component\Core\Model\ProductInterface product #}

<div class="ui fluid card" {{ sylius_test_html_attribute('product') }}>
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
    </a>
    <div class="content" {{ sylius_test_html_attribute('product-content') }}>
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="header sylius-product-name" {{ sylius_test_html_attribute('product-name', product.name) }}>{{ product.name }}</a>
        {% if not product.variants.empty() %}
            {# @var \Sylius\Component\Core\Model\ProductVariant variant #}
            {% set variant = product|sylius_resolve_variant %}

            {# @var \Tests\Setono\SyliusCatalogPromotionPlugin\Application\Entity\ChannelPricing price #}
            {% set price = variant.channelPricingForChannel(sylius.channel) %}

            {% if price.hasDiscount %}
                <strike class="sylius-product-price original-price">
                    {{ money.convertAndFormat(price.originalPrice) }}
                </strike>
                <span class="sylius-product-price new-price" {{ sylius_test_html_attribute('product-price') }}>
                    {{ money.convertAndFormat(price.price) }}
                </span>
            {% else %}
                <div class="sylius-product-price" {{ sylius_test_html_attribute('product-price') }}>
                    {{ money.convertAndFormat(price.price) }}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
